# Q1

In [1]:
my_name='Ranj Sidhu'
print(my_name)

Ranj Sidhu

# Q2

In [2]:
my_id=100
print(my_id)

100

# Q3

In [5]:
my_id_str='100'
print(my_id_str)

100

# Q4

In [6]:
my_name+my_id

TypeError: must be str, not int

No because you can only add two strings or two integers, but you can't add a string and an integer.

# Q5

In [7]:
my_name+my_id_str

'Ranj Sidhu100'

Yes the result is 'Ranj Sidhu100' and it is possible because we are adding two strings.

# Q6

In [11]:
print('hello,world.This is my first python string'.split('.'))

['hello,world', 'This is my first python string']

# Q7

In [19]:
str_list=['a','b','c','d','e']
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

Yes, the result is ['a','b','c','d','e']

# Q8

In [21]:
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Q9

In [22]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

# Q10

In [23]:
str_list[2]

'c'

# Q11

In [25]:
num_list=[12,32,43,35]
str_list+num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

Yes the result is ['a','b','c','e','f',12,32,43,35]

# Q12

In [28]:
my_dict={'name':'Ranj','id': '100'}
print(my_dict)

{'name': 'Ranj', 'id': '100'}

# Q13

In [30]:
my_dict['name']='Sidhu'
print(my_dict)

{'name': 'Sidhu', 'id': '100'}

# Q14

In [31]:
print(my_dict['id'])

100

# Q15

In [32]:
my_dict['id']='10000'
print(my_dict)

{'name': 'Sidhu', 'id': '10000'}

# Q16

In [34]:
my_dict['num_list'] =num_list
print(my_dict)

{'name': 'Sidhu', 'id': '10000', 'num_list': [12, 32, 43, 35]}

It added the num_list to the dictionary.

# Q17 Optional

In [5]:
num_list=[12,32,43,35]
print(num_list[2])
print(num_list[0])

43
12